*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif,Georgia ;
}

.title{
    margin: auto;
    background-color: antiquewhite;
    text-align: center;
    width: fit-content;
    border: solid  rgb(196, 193, 159);
    border-radius: 5px 5px 5px 5px ;
    padding: 5px;

}
.textcontainer{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 30px;
    background-color: rgb(215, 215, 226);
    margin: auto;
    width: 90vw;

}
.firstparagraph{
    margin: 15px;
    background-color: antiquewhite;
    border:  solid rgb(196, 193, 159);
    border-radius: 5px 5px 5px 5px;
}
.secondparagraph{
    margin: 15px;
    background-color: antiquewhite;
    border:  solid rgb(196, 193, 159);
    border-radius: 5px 5px 5px 5px;   
}
.thirdparagraph{
    margin: 15px;
    background-color: antiquewhite;
    border:  solid rgb(196, 193, 159);
    border-radius: 5px 5px 5px 5px;   
}
.lastparagraph{
    margin: 15px;
    background-color: antiquewhite;
    border:  solid rgb(196, 193, 159);
    border-radius: 5px 5px 5px 5px;      
}

.linkcontainer{
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    width: fit-content;
    background-color: antiquewhite;
    border: solid rgb(196, 193, 159);
    border-radius: 5px 5px 5px 5px ;
}