*{
    margin: 0;
    box-sizing: border-box;
}

.title{
    margin: auto;
    background-color: aqua;
    text-align: center;
    width: fit-content;
    border: solid black;
    border-radius: 5px 5px 5px 5px ;
    padding: 5px;

}
.textcontainer{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 30px;
    background-color: blue;
    margin: auto;

}